<% if(page.comments && theme.disqus.enabled){ %>
    <div class="blog-post-comments">
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>
<% if(page.comments && theme.valine.enabled){ %>
	<div id="vcomments">
	<noscript><%= __('comments.no_js') %></noscript>
	</div>
<% } %>